# UV
.venv

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Environment variables
.env
.env.*
!.env.example

# OS and editors
.DS_Store
Thumbs.db
.idea/
.vscode/

# Dev Folders/Files
Dev/
Dev*
TODO.md
images/

# Outputs
models/*.txt
models/*.pkl
models/backup/*
reports/backtesting/*
reports/walkforward/*
reports/*.csv
data/*
backup/*